
.viewport {
  margin: 0 0 0 0;
  /* width: 100vw; */
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.App {
  margin-top: 70px;
  margin-bottom: 50px;
}

body {
  margin: 0;
}
